#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Layers */
#define AL1  0
#define AL2  1
#define SM1  2
#define NM1  3
#define SYS  4
/ {
    combos {
        compatible = "zmk,combos";
        combo_ret {
            timeout-ms = <30>;
            key-positions = <3 4>;
            bindings = <&kp RET>;
            layers = <AL1>;
        };
        combo_backspace {
            timeout-ms = <15>;
            key-positions = <4 5>;
            bindings = <&kp BSPC>;
            layers = <AL1>;
        };
        combo_tab {
            timeout-ms = <30>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
            layers = <AL1>;
        };
        combo_esc {
            timeout-ms = <30>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <AL1>;
        };
    };
    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hl_l: homerow_layers_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
        hl_r: homerow_layers_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };
//				0		1		2						3		4		5
//		6		7		8		9						10		11		12		13
//								14		15		16		17
    keymap {
        compatible = "zmk,keymap";
		alpha1 {
		bindings = <
		 		&hm_l LGUI B	&hm_l LALT G	&hm_l LCTRL R						&hm_r RCTRL U 	&hm_r RALT I	&hm_r RGUI O
		&kp A	&kp S			&kp D			&kp F								&kp J			&kp K			&kp L			&kp SEMI
			 	 		 						&mo AL2		&mo SM1		&kp RSHIFT	&hl_r SYS SPC
		>;
		};

		alpha2 {
		bindings = <
		 		&hm_l LGUI W	&hm_l LALT E	&hm_l LCTRL T				&hm_r RCTRL Y 	&hm_r RALT H	&hm_r RGUI P
		&kp N	&kp X			&kp C			&kp V						&kp M			&kp COMMA		&kp DOT			&kp FSLH
			 									&none	&trans		&trans	&hl_r NM1 SPC
		>;
		};

		sym1 {
		bindings = <
		 			&hm_l LGUI PRCNT	&hm_l LALT HASH	&hm_l LCTRL DLLR					&hm_r RCTRL GRAVE	&hm_r RALT CARET	&hm_r RGUI BSLH
		&kp ATSN	&kp TILDE			&kp AMPS		&kp STAR							&kp MINUS			&kp EQUAL			&kp LPAR		&kp RPAR
				 										&trans		&none			&trans	&trans
		>;
		};

		num {
		bindings = <
					&hm_l LGUI E	&hm_l LALT N0	&hm_l LCTRL N1					&hm_r RCTRL N2	&hm_r RALT N3	&hm_r RGUI N4
		&kp SQT		&kp RBRC		&kp N5			&kp N6							&kp N7			&kp N8			&kp N9		&kp RBKT
													&trans		&trans		&trans	&none
		>;
		};

		sys {
		bindings = <
		 		&hm_l LGUI Q	&hm_l LALT RS(Q)	&hm_l LCTRL GRAVE							&hm_r RCTRL EXCL	&hm_r RALT LBRC		&hm_r RGUI RIGHT
		&kp Z	&kp RS(Z)		&kp DOWN			&kp UP										&kp LEFT			&trans				&kp LBKT		&kp RET
		 		 									&kp C_PREV		&kp C_NEXT		&kp C_PP	&none
		>;
		};
	};
};
